<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-8">
      <p>KAIST 전산학부 협동분산네트워크시스템 연구실 (<a href="http://cds.kaist.ac.kr">연구실 홈페이지로 이동</a>)</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>대전시 유성구 대학로 291 한국과학기술원(KAIST), IT융합센터(N1) 823호</p>
      <p><span class="glyphicon glyphicon-phone"></span>(042) 350-7759</p>
      <p><span class="glyphicon glyphicon-envelope"></span>bhshin .AT. kaist.ac.kr</p>
    </div>

  </div>
</div>
